*.pyc
*.log
*.pyz
*.spec
*.manifest
*.pkg
*.toc
*.zip


venv/

Testing/

src/testing.py

versionfile.txt

__pycache__/
build/
builds/

start.build/
start.dist/
start.onefile-build/
start.exe

dist/

pyservicenow.egg-info/

testing.py

.pypirc